:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, p, a, label, li{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 0.75rem;
  border: 1px solid rgba(255,255,255,0.7);
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #f9f9f9;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
button:hover {
  border-color: #646cff;    
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

main{
  padding: 2rem;
}

.signature-container{
  display:flex;
  flex-direction: column;
  gap: 3rem
}

.signature-container__signature-form{
  display:flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.form-container{
  display: flex;
  flex-direction: column;
  padding:1rem;
  gap: 2rem;
}


.form-container__form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-container__form--item{
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0rem;
}

.form-container__form--item input{
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  border: 1px solid black;
}




.signature-info-container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.signature-info-container__grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
}


.signature-info-container__grid--item{
  padding: 1rem 0;
}

.signature-info-container__grid--item h2{
  color: rgb(14, 14, 99);
  font-weight: 700;
  font-size: 2rem;
}

.signature-info-container__grid--item ul li {
  font-size: 1.25rem;
  font-weight: 500;
}

label{
  font-weight: 700;
}
